/* FOOTER */
.footer{
    background-color: black;
    padding-top: 50px;
    padding-bottom: 25px;
    text-align: center;
  }
  .footer-content{
    display: flex;
    gap: 20px;
    align-items: center;
    flex-direction: column;
  }
  .logo-footer {
    filter: grayscale(1) brightness(100); 
    width: 100px;
    height: auto;
  }
  .text-footer{
    color: white;
    font-size: 24px;
    font-weight: 500;
    margin: 0;
  }
  .text-footer i {
    margin-right: 5px;
    font-size: 18px;
  }

  @media screen and (max-width: 375px) {
  
    .logo-footer{
      width: 122px;
    }
    .text-footer{
      width: 50%;
      font-size: 16px
    };
  }