/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* TODO : FAIRE UN CSS PAR COMPOSANT */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  margin: 0;
  padding: 10px 100px;
  max-width: 1440px;
  margin: 0 auto;
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
/* .nav-list li:active {
  text-decoration: underline;
} */
nav a{
  text-decoration: none;
}

/* MAIN */
.image-container {
  position: relative; 
  width: 100%;
  height: 223px;
  overflow: hidden;
  border-radius: 15px;
  margin: 20px auto;
}

.image-container img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(40%);
}

.text-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  z-index: 2;
}
.main-select-location{
  background-color:#F6F6F6 ;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 20px;
  padding: 20px;
}
.child-select-location{
  width: 340px;
  height: 340px;
  color: white;
  background: linear-gradient(to bottom, #FF6F6F, #FF5C5C);
  display: flex;
  align-items: flex-end;
  margin-left: 40px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-weight: bold;
  font-size: 18px;
}
/* FOOTER */
.footer{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
.footer-content{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.logo-footer {
  filter: grayscale(1) brightness(100); 
  width: 100px;
  height: auto;
}
.text-footer{
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.text-footer i {
  margin-right: 5px;
  font-size: 18px;
}




/* CSS APROPOS */

body{
  margin: 0;
  padding: 10px 100px;
  max-width: 1440px;
  margin: 0 auto;
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
/* .nav-list li:active {
  text-decoration: underline;
} */
/* MAIN */
.image-container {
  height: 223px;
  overflow: hidden;
  border-radius: 15px;
  margin: 20px auto;
}

.image-container img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
}
.dropdown-container {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 600px; 
}
.dropdown {
  background-color: #ff6f6f;
  color: white;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.dropdown-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-header {
  width: 450px;
  padding: 15px 20px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dropdown-arrow {
  transition: transform 0.3s ease;
  transform: rotate(0deg);
  font-size: 16px;
}
.dropdown-content {
  padding: 15px 20px;
  font-size: 16px;
  background-color: #fff;
  color: #333;
  display: none; 
  border-top: 1px solid #ff6f6f;
}
.active-dropdown{
  display: block;
}
.dropdown.open .dropdown-content {
  display: block;
}
.dropdown.open .dropdown-arrow {
  transform: rotate(180deg); 
}
/* FOOTER */
.footer{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
.footer-content{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.logo-footer {
  filter: grayscale(1) brightness(100); 
  width: 100px;
  height: auto;
}
.text-footer{
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.text-footer i {
  margin-right: 5px;
  font-size: 18px;
}




/* body{
    margin: 0;
    padding: 10px 100px;
    max-width: 1440px;
    margin: 0 auto;
    
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list{
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
/* .nav-list li:active {
  text-decoration: underline;
} */
/* MAIN */
.error-page {
  text-align: center;
  font-family: Arial, sans-serif;
  margin: 150px 0;
  padding: 0;
}

.error-container {
  display: flex;
  flex-direction: column;
  gap: 100px; 
}

.error-code {
  font-family: 'Montserrat', sans-serif;
  font-size: 250px; 
  font-weight: 700;
  color: #ff6f6f; 
  margin: 0;
}

.error-message {
  font-size: 36px;
  color: #ff6f6f;
  margin: 0;
}

.error-button {
  font-size: 18px;
  color: black; 
  background: none; 
  border: none;
  text-decoration: underline; 
  cursor: pointer; 
  font-weight: bold; 
}

.error-button:hover {
  color: #ff6f6f; 
}

/* FOOTER */
.footer{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
.footer-content{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.logo-footer {
  filter: grayscale(1) brightness(100); 
  width: 100px;
  height: auto;
}
.text-footer{
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.text-footer i {
  margin-right: 5px;
  font-size: 18px;
}



/* CSS LOCATION */
body{
  margin: 0;
  padding: 10px 100px;
  max-width: 1440px;
  margin: 0 auto;
}
/* HEADER */
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.carroussel-box>img {
  object-fit: cover;
}
.nav-list{
  list-style: none;
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}
.avatar {
  border-radius: 50%;
}
.left-arrow{
  position: absolute;
  margin-top: 13%;
}
.right-arrow{
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 13%;
}
/* .nav-list li:active {
  text-decoration: underline;
} */
/* MAIN */
.property-container {
  /* max-width: 1200px; */
  margin: 20px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/* Image Section */
.image-section {
  position: relative;
}

.property-image {
  width: 100%;
  height: auto;
  display: block;
}

.image-counter {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

/* Details Section */
.details-section {
  padding: 20px;
  padding-bottom: 0;
}
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin-bottom: 10px; */
}
.property-title {
  font-size: 24px;
  color: #ff6f6f;
  margin: 0;
}

.property-location {
  font-size: 16px;
  color: #666;
  margin-top: 0;
}
.tags-rating {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  margin-bottom: 15px;
}
.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tag {
  background: #ff6f6f;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 14px;
}

/* Author and Rating */
.profil{
  color: #ff4f4f;
}
.author-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.author p {
  margin: 0;
  font-size: 24px;
}

.author-avatar {
  width: 64px;
  height: 64px;
  background: lightgray;
  border-radius: 50%;
}

.rating {
  display: flex;
  gap: 5px;
  font-size: 18px;
  color: #ff6f6f;
}

.star {
  color: lightgray;
}

.star.filled {
  color: #ff6f6f;
}

/* Buttons Section */
.buttons-section {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 0;
  gap: 70px;
}

.button {
  background: #ff6f6f;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
}

.button .arrow {
  font-size: 12px;
}

.button:hover {
  background: #ff4f4f;
}
/* FOOTER */
.footer{
  background-color: black;
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
}
.footer-content{
  display: flex;
  gap: 20px;
  align-items: center;
  flex-direction: column;
}
.logo-footer {
  filter: grayscale(1) brightness(100); 
  width: 100px;
  height: auto;
}
.text-footer{
  color: white;
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}
.text-footer i {
  margin-right: 5px;
  font-size: 18px;
}

nav a.active{
  color: green;
}

.removeUnderLine{
  text-decoration: none;
}